html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.item-title {
  color: white;
}
.item-price {
  color: white;
}
.item-description {
  color: white;
}
.item-category {
  color: white;
}
.item-unit {
  color: white;
}
.item-weight {
  color: white;
}
.container {
  padding: 20px;
  margin-top: 50px;
}

.text-center {
  font-size: 2rem;
  color: white;
  background-color: #333;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.head5 {
  color: white;
  padding: 20px;
  margin-top: 30px;
}
h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: #272626;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.grid-item:hover {
  transform: scale(1.03);
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.item-title {
  font-size: 1.2rem;
  color: white;
  margin-top: 10px;
}

.item-price {
  font-size: 1rem;
  color: #28a745;
  font-weight: bold;
  margin-top: 5px;
}

.footer {
  text-align: center;
  background-color: #272626;
  color: white;
  padding: 20px;
  margin-top: 40px;
  font-size: 1rem;
}

.list-group {
  padding: 20px;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
